<h4><%= link_to link.original_url, link.original_url, :target => "_blank"  %></h4>

<h5><%= link_to short_redirect_url link.slug %></h5>

<p> Total Clicks : <%= link.link_visited_count %></p>

<p> Top Countries :  <%= link.top_countries %></p>
