<h1>Welcome to shortly.com</h1>


<h4> Please enter your url here</h4>

<%= render partial: 'links/form' %>

<div class='hidden'>
  <h3>Here Is your short url</h3>

  <a id="shorten-url" href="#"></a>
</div>
